@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC-mallin mukainen tietokantasovellus </h1>
    <p class="lead">henkilön tiedot sekä alikyselynä tämän tunnit per projekti</p>
    <p><a href="/Henkilot/Index" class="btn btn-primary btn-lg">1 &raquo;</a></p>
    <p><a href="/Projekti/Index" class="btn btn-primary btn-lg">2 &raquo;</a></p>
</div>

